.addSearch {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.btnSearch {
    border-radius: 3px 0px 0px 3px;
    background-color: #c41700;
}

.btnSearch:hover {
    background-color: #af1a06;
}

input {
    padding: 8px 6px;
    margin-left: -4px;
    border-radius: 0px 3px 3px 0px;
    border: none;
    background-color: #e9e9e9;
}

input:focus {
    outline: none;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #0a0a0a;
    padding: 10px 3px;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

td:nth-child(6) {
    max-width: 100px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

a,
button {
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #4fc40c;
    transition: 0.3s;
}

button:hover {
    background-color: #4fb613;
}

.delete {
    background-color: #d33;
}

.delete:hover {
    background-color: #ca5151;
}

div.swal2-actions button.swal2-confirm {
    background-color: #4fc40c;
}

div.swal2-actions button.swal2-cancel {
    background-color: #d33;
}
