input,
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    resize: none;
    border-radius: 3px;
    border: 1px solid #0e0e0e;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

form {
    margin-top: 30px;
}

form div {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0e0e0e;
}

i {
    margin-right: 5px;
}

button {
    background-color: #4fc40c;
    transition: 0.3s;
    color: #fff;
}

button:hover {
    background-color: #4fb613;
}
